<div class="container mt-3">
    {{> alerts}}
    <h1>Όλοι οι χρήστες</h1>
    <form method="POST">
        <div class="list-group">
            {{#each all}}
            <a class="list-group-item list-group-item-action">
                {{lastName}}
                <button class="btn" type="submit" name="userId" value={{_id}}>
                    Διαγραφή χρήστη
                </button>
            </a>
            {{/each}}
        </div>
    </form>
</div>