<div class="container-fluid" style="margin-top:15px">
    <div class="row">
        <div class="col-md-2 mb-4" id="sidebar">
            {{> adminSidebar}}
        </div>
        <div class="col-md-10 mb-4">
            {{> alerts}}
            <h1>Όλοι οι χρήστες</h1>
            <div class="list-group">
                {{#each all}}
                <a href={{makeLink '/admin/all-' _id}} class="list-group-item list-group-item-action">{{lastName}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</div>