<div class="container">
    {{#if emp}}
    <h1>H Αίτηση του {{emp.lastName}}</h1>
    {{/if}}
    <form method="POST">
        <button class="btn" id="accept-btn" type="submit" name='answer' value="accept">Αποδοχή</button>
        <button class="btn" id="decline-btn" type="submit" name='answer' value="decline">Απόριψη</button>
    </form>
</div>