<div class="container-fluid" style="margin-top:15px">
    <div class="row">
        <div class="col-md-2 mb-4" id="sidebar">
            {{> adminSidebar}}
        </div>
        <div class="col-md-10 mb-4">
            {{> alerts}}
            <h1>Όλοι οι υπάλληλοι προς έγκριση</h1>
            <div class="list-group">
                {{#unless emp}}
                <p>Δεν υπάρχουν χρήστες που περιμένουν έγκριση</p>
                {{/unless}}
                {{#each emp}}
                <a href={{makeLink '/admin/approve-' _id}}
                    class="list-group-item list-group-item-action">{{lastName}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</div>