<div class="container" style="margin-top:15px">
    <div class="row">
        <div class="col-md-3 mb-4" id="sidebar">
            {{> cardSidebar}}
        </div>
        <div class="col-md-9 mb-4">
            <div class="row justify-content-center">
                <div class="p-0 mx-2 w-100 border-bottom" style="background-color: #f5f5f5;">
                    <div class="container-fluid">
                        <div class="row shadow-sm">
                            <div class="col-sm-9 d-flex justify-content-start">
                                <h3 class="p-4 mb-0 w-100">Οδηγίες</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mx-2 my-0 w-100" style="max-width: 760px;">
                    {{> alerts}}
                </div>
            </div>
            <p class="text-justify mt-3">
                Γίνεται γνωστό στους φοιτητές και φοιτήτριες που ενδιαφέρονται να σιτίζονται δωρεάν το ακαδημαϊκό έτος 2019-2020,
                ότι θα πρέπει να υποβάλλουν ηλεκτρονικά την αίτηση και τα δικαιολογητικά πατώντας "Αίτημα Έκδοσης" από το μενού της παρούσας σελίδας.
            </p>
            <p class="text-justify">
                Οι φοιτητές και φοιτήτριες θα πρέπει να υποβάλλουν όλα τα δικαιολογητικά, το κάθε ένα ξεχωριστά, ψηφιοποιημένα αυστηρά σε μορφή εικόνας (png/jpeg/gif),
                στο ηλεκτρονικό σύστημα κατά την συμπλήρωση της αίτησης.
            </p>
            <p class="text-justify">
                Οι φοιτητές θα παραλαμβάνουν την κάρτα σίτισης από το αντίστοιχο του Τμήματός τους γραφείο της Φοιτητικής Μέριμνας.
                Με αυτή ή με την Ακαδημαϊκή Ταυτότητα θα μπορούν να προσέρχονται στο εστιατόριο.
            </p>
            <p class="text-justify">
                Επίσης, μέσω της ιδίας διεύθυνσης που θα έχουν κάνει την αίτηση, θα μπορούν να παρακολουθούν την κατάστασή της.
                Για την  γρήγορη έκδοση της ειδικής ηλεκτρονικής ταυτότητας δωρεάν σίτισης παρακαλούνται οι φοιτητές να υποβάλλουν έγκυρα τα δικαιολογητικά τους.
            </p>
            <p class="text-justify">
                Δεν απαιτείται να προσκομίσετε την αίτηση και τα δικαιολογητικά σε έντυπη μορφή
                στα Τμήματα Σίτισης και Παροχών, Τμήμα Φοιτητικής Μέριμνας (Κουκούλι), Τμήμα Υπηρεσιών Φοιτητικής Μέριμνας (Μεσολόγγι), παρά μόνο εάν σας ζητηθεί.
            </p>
            <p class="text-justify">
                Αναλυτικότερες πληροφορίες για τα δικαιολογητικά και τα όρια εισοδήματος, παρέχονται στα ακόλουθα έγγραφα:<br>
                <a href="/card/downloads/dikaiologitika-dorean-sitisis" id="files-link" style="font-weight:bolder;">Δικαιολογητικά 2019-20</a><br>
                <a href="/card/downloads/oria-eisodimatos-dorean-sitisis" id="files-link" style="font-weight:bolder;">Όρια εισοδήματος 2019-20</a>
            </p>
        </div>
    </div>
</div>