<div class="container-fluid" style="margin-top:15px">
    <div class="row">
        <div class="col-md-2 mb-4" id="sidebar">
            {{> cardSidebar}}
        </div>
        <div class="col-md-10 mb-4">
            <h1>Οδηγίες</h1>
            <p>Οι φοιτητές/φοιτήτριες θα πρέπει να υποβάλλουν όλα τα δικαιολογητικά, το κάθε ένα ξεχωριστά,
                ψηφιοποιημένα σε μορφή pdf (πχ. με σαρωτή (scanner), κλπ.), καταχωρώντας στο ηλεκτρονικό σύστημα κατά
                την συμπλήρωση της αίτησης.
                Επισημαίνεται ότι οι νεοεισαχθέντες φοιτητές ακαδ. Έτους 2019-2020 μπορούν να υποβάλλουν στο πεδίο
                «Ακαδημαϊκή Ταυτότητα» τη Βεβαίωση Σπουδών από τη Γραμματεία του Τμήματός τους.
                Οι φοιτητές μέσω του ιδίου link θα μπορούν να παρακολουθούν την πορεία της αίτησής τους και να λαμβάνουν
                την ηλεκτρονική κάρτα σίτισης. Με αυτή ή με την Ακαδημαϊκή Ταυτότητα θα μπορούν να προσέρχονται στο
                εστιατόριο.</p>
        </div>
    </div>
</div>