<div class="container">
    <div class="jumbotron py-3 my-3 shadow-sm" style="background-color: #f5f5f5">
        <h3 class="mb-0 text-center" id="page-heading">Η σελίδα που ζητήσατε δεν υπάρχει</h3>
    </div>
    <div class="row justify-content-center">
        <div class="mx-2 my-0 w-100" style="max-width: 760px;">
            {{> alerts}}
        </div>
    </div>
</div>