<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="information">
                <div class="information-header">
                    <span>Διεύθυνση:</span>
                </div>
                <div class="information-text">
                    <ul>
                        <li>Πανεπιστημιούπολη
                            26504 Ρίο Αχαΐα</li>
                    </ul>
                </div>
                <div class="information-header">
                    <span>Στοιχεία Επικοινωνίας:</span>
                </div>
                <div class="information-text">
                    <ul>
                        <li>Τηλ: 2610 996683</li>
                        <li>fax: 2610 991711</li>
                        <li>email: rectorate@upatras.gr</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="map">
                <iframe id="kekmao"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.53419963925876!2d21.78967655113766!3d38.28579024839898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135e4bbe601e44ff%3A0x11b6b61378210bc0!2sStudent%20Residence%20Halls!5e0!3m2!1sen!2sgr!4v1587876171455!5m2!1sen!2sgr"
                    frameborder="0" style="border:1;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>