<p class="d-flex justify-content-center">Δεν έχετε λογαριασμό;&nbsp;<a href="/users/register">Εγγραφτείτε εδώ</a>.</p><hr>
<form method="POST" action="/users/login" class="mb-5">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control {{checkIfValid errorsParam 'username'}}" name="username" placeholder="Όνομα Χρήστη" value="{{data.username}}"> 
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input type="password" class="form-control {{checkIfValid errorsParam 'password'}}" name="password" placeholder="Κωδικός Πρόσβασης">
    </div>
  </div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button type="submit" class="btn w-100">Σύνδεση</button>
</form>
