<div class="container mb-5" style="max-width: 520px;">
    <div class="row justify-content-center">
        <div class="p-0 w-100 border-bottom" style="background-color: #f5f5f5;">
            <div class="container-fluid">
                <div class="row shadow-sm">
                    <div class="col d-flex justify-content-start">
                        <h3 class="py-4 pl-0 mb-0 w-100">Πληρωμή κουπονιών</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="my-0 w-100">
            {{> alerts}}
        </div>
    </div>
    <div class="row justify-content-center p-0">
      <div class="col pt-2 pb-0" style="background-color: #f5f5f5;">
        <form method="POST" action="/coupons/checkout" id="payment-form">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="card-name">Όνομα κατόχου</label>
              <input type="text" class="form-control" id="card-name" name="card-name">
              <small class="text-muted">Όπως αναγράφεται στην κάρτα.</small>
            </div>
            <div class="col-md-6 mb-3">
              <label for="card-number">Αριθμός πιστωτικής κάρτας</label>
              <input type="text" class="form-control" id="card-number" name="card-number">
              <small class="text-muted">Μόνο ψηφία χωρίς κενά.</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="card-expiry-month">Μήνας λήξης</label>
              <input type="text" class="form-control" id="card-expiry-month" name="card-expiry-month">
            </div>
            <div class="col-md-4 mb-3">
              <label for="card-expiry-year">Έτος λήξης</label>
              <input type="text" class="form-control" id="card-expiry-year" name="card-expiry-year">
            </div>
            <div class="col-md-4 mb-3">
              <label for="card-cvc">CVV</label>
              <input type="password" class="form-control" id="card-cvc" name="card-cvc">
            </div>
          </div>
          <div class="row justify-content-center mt-2 mb-0 border-top py-4">
            <div class="col-6 d-flex justify-content-center pr-1">
              <button class="btn btn-success w-100" type="submit">Ολοκλήρωση πληρωμής</button>
            </div>
            <div class="col-6 d-flex justify-content-center pl-1">
              <a class="btn w-100" href="/coupons/cart">Επιστροφή στο καλάθι σας</a>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

<script src="https://js.stripe.com/v2/"></script>
<script src="scripts/checkout.js" defer></script>
