<div class="container">
    <div class="col-md-8 order-md-1">
      <form method="POST" action="/coupons/checkout" class="mb-5" id="payment-form">
        <h4 class="mb-3">Στοιχεία πληρωμής</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="card-name">Όνομα κατόχου</label>
            <input type="text" class="form-control" id="card-name" name="card-name">
            <small class="text-muted">Όπως αναγράφεται στην κάρτα.</small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="card-number">Αριθμός πιστωτικής κάρτας</label>
            <input type="text" class="form-control" id="card-number" name="card-number">
            <small class="text-muted">Μόνο ψηφία χωρίς κενά.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="card-expiry-month">Μήνας λήξης</label>
            <input type="text" class="form-control" id="card-expiry-month" name="card-expiry-month">
          </div>
          <div class="col-md-4 mb-3">
            <label for="card-expiry-year">Έτος λήξης</label>
            <input type="text" class="form-control" id="card-expiry-year" name="card-expiry-year">
          </div>
          <div class="col-md-4 mb-3">
            <label for="card-cvc">CVV</label>
            <input type="text" class="form-control" id="card-cvc" name="card-cvc">
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Pay</button>
      </form>
    </div>
</div>

<script src="https://js.stripe.com/v2/"></script>
<script src="scripts/checkout.js" defer></script>
