

.form-signin {
    border-top-color: #006699;
    border-top-style: solid;
    border-top-width: 3px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 360px;
    padding: 25px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    color: white;
    outline: 1px solid #cbcbcb;
    font: 12px/20px Helvetica, Sans-Serif; 
    text-align: center;
  }