/* Embed "Open Sans Condensed" and "Source Sans Pro" from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
}

.btn {
    color: #fff;
    background-color: #d7a760;
    border-color: #d7a760;
  }
  
  .btn:hover {
    color: #fff;
    background-color: #d18f2c;
    border-color: #d6912a;
  }
  
  .btn:focus, .btn.focus {
    color: #fff;
    background-color: #cf963f;
    border-color: #d6912a;
    box-shadow: 0 0 0 0.2rem rgba(240, 188, 110, 0.5);
  }
  
  .btn.disabled, .btn:disabled {
    color: #fff;
    background-color: #d7a760;
    border-color: #d7a760;
  }
  
  .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active,
  .show > .btn.dropdown-toggle {
    color: #fff;
    background-color: #d6912a;
    border-color: #d88912;
  }
  
  .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus,
  .show > .btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 188, 110, 0.5);
  }

.navbar {
    background-color: #803136;
    border-bottom: 3px solid #d7a760;
}

.bgcolor {
    background-color: #bfd1db;
}

/* Chavales additions /

/ #sidebar {
    background-color: gray;
    border-right: 3px solid #803136;
} */

#sidebar-item {
    color: #803136;
}

#sidebar-item:hover {
    background-color: #d7a760;
    color: white;
}

#sidebar .nav-pills {
    background-color: lightgrey;
    border-radius: 5px;
}


body {
    background-color: #eeeeee;
}

#form-user, #reg-msg {
    border-top-color: #006699;
    border-top-style: solid;
    border-top-width: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: 1px solid #006699;
    text-align: left;
}

h5 {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

#anncmnt-title:link {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

#anncmnt-title:visited {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

#anncmnt-title:hover {
    color: #803136;
    background-color: transparent;
    text-decoration: underline;
}

#anncmnt-title:active {
    color: #d7a760;
    background-color: transparent;
    text-decoration: underline;
}

#footer-link:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

#footer-link:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

#footer-link:hover {
  color: rgb(153, 153, 153);
  background-color: transparent;
  text-decoration: underline;
}

#footer-link:active {
  color: rgb(250, 250, 250);
  background-color: transparent;
  text-decoration: underline;
}

#files-link:link {
  color: #803136;
  background-color: transparent;
  text-decoration: none;
}

#files-link:visited {
  color: #803136;
  background-color: transparent;
  text-decoration: none;
}

#files-link:hover {
  color: #9b3a40;
  background-color: transparent;
  text-decoration: underline;
}

#files-link:active {
  color: #c74e56;
  background-color: transparent;
  text-decoration: underline;
}

#newAnncmnt, #editSchd {
    background-color: #803136;
}

#newAnncmnt:hover, #editSchd:hover{
    background-color: #d7a760;
    color: black;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  }
  
  .btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
  .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
  }
  
  .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
  .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  }

  .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
  
  .btn-light:focus, .btn-light.focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  }
  
  .btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
  }
  
  .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
  .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  }

  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  }
  
  .btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
  .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
  }
  
  .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
  .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  }

  #page-heading {
    font-family: 'Ubuntu', sans-serif;
  }

  #coupons-row:last-child > div > div > div > div > div {
    margin-bottom: 16px;
  }